<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Student Registration</title>
<link rel="stylesheet" th:href="@{/css/studentRegistration.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/studentRegistration}" method="post"  th:object="${student}">
			<div class="title">Student Registration</div>
			<h2 class="heading"> Personal Details </h2>
			<div class="input-box underline">
				<input type="text" placeholder="Enter Your First Name" required th:field="*{firstName}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Enter Your Middle Name" required th:field="*{middleName}">
				<div class="underline"></div>
			</div>
			<div class="input-box underline">
				<input type="text" placeholder="Enter Your Last Name" required th:field="*{lastName}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Enter Your Mothers Name" required th:field="*{motherName}">
				<div class="underline"></div>
			</div>
			<div class="input-box underline">
				<input type="email" placeholder="Enter Your Email Id" required th:field="*{emailId}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="number" placeholder="Enter Your Mobile Number" required th:field="*{mobileNumber}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="date" placeholder="Enter Your Date of Birth" required th:field="*{dateOfBirth}">
				<div class="underline"></div>
			</div>
				<div class="input-box">
				<select name="gender" id="gender" th:field="*{gender}">
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
				<div class="underline"></div>
			</div>
			
			<div class="input-box">
				<select name="categeory" id="categeory" th:field="*{categeory}" >
					<option value="Open">Open</option>
					<option value="ST">ST</option>
					<option value="SC">SC</option>
					<option value="NT">NT</option>
					<option value="OBC">OBC</option>
					<option value="EWS">EWS</option>
				</select>
				<div class="underline"></div>
			</div>
			<h2 class="heading"> Academic Details </h2>
		
			<div class="input-box">
				<input type="text" placeholder="Enter Your University" required th:field="*{university}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="number" placeholder="Enter Your 10th Marks" required th:field="*{sscMarks}">
				<div class="underline"></div>
			</div>
			<div class="input-box underline">
				<input type="number" placeholder="Enter Your 12th Marks" required th:field="*{hscMarks}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="number" placeholder="Enter Your CET Marks" required th:field="*{cetMarks}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="number" placeholder="Enter Your CET Physics Marks"
					required th:field="*{physicsCetmarks}">
				<div class="underline"></div>
			</div>

			<div class="input-box">
				<input type="number" placeholder="Enter Your CET Chemistry Marks"
					required th:field="*{chemistryCetMarks}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="number" placeholder="Enter Your CET Maths Marks"
					required th:field="*{mathCetMarks}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Enter Your Username"
					required th:field="*{userName}">
				<div class="underline"></div>
			</div>
			<div class="input-box">
				<input type="password" th:field="*{password}"
					placeholder="Enter Your Password" required="required" /> <label
					if="${#fields.hasErrors('password')}" errors="*{password}"
					class="validation-message"></label>
			</div>
			<div class="input-box button">
				<input type="submit" name="" value="Submit">
			</div>
		</form>
	</div>
</body>
</html>

